.info-banner-cardright {
    padding: 50px;
    background-image: url('../../../../assets/images/box-color-02.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    h1{
        margin-top: -25px;
        font-size: 30px;
    }
  }

