.info-banner-cardright {
    text-align: center;
    padding: 30px;
    background-image: url('../../../../assets/images/box-color-02.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    color: white;
    h1{
        margin-top: -15px;
        font-size: 30px;
    }
  }

